@use "colors" as *;
@use "mixins" as *;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    font-size: 4.8rem;
    font-weight: 600;
    letter-spacing: -0.2rem;
    line-height: 4.5rem;
    transform: scaleY(1.02);
    padding-bottom: 2.2rem;

    @include bp(xs) {
        font-size: 3.6rem;
        line-height: 3.6rem;
    }
}

h3 {
    font-size: 1.7rem;
    letter-spacing: 0.6rem;
    padding-bottom: 1.6rem;

    @include bp(xs) {
        font-size: 1.5rem;
    }
}

p {
    color: $DarkGray;
    font-weight: 500;
    letter-spacing: -0.035rem;
    line-height: 2.2rem;
    padding-bottom: 2rem;
}

a,
a:hover {
    color: $White;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.main {
    min-height: 100vh;
    max-width: 100%;
    display: flex;

    @include bp(md) {
        height: auto;
    }
}

.container {
    max-width: 144rem;
    max-height: 80rem;
    // min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 267fr 133fr;
    overflow: hidden;

    @include bp(md) {
        height: fit-content;
        grid-template-rows: 1fr 1fr;
    }

    @include bp(sm) {
        margin: 0;
    }
}

.v-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
}